

<div class="content-container">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>

  <div *ngIf="!isLoading">
    <app-user-accordion [users]="users"></app-user-accordion>
  </div>
</div>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="openCreateUserModal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab> 