:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

ion-content {
  --padding-start: 1rem;
  --padding-end: 1rem;
  --padding-top: 1rem;
  --padding-bottom: 1rem;
}

ion-footer {
  padding: 1rem;
  background: var(--ion-color-light);
} 