  <div class="content-container">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>

    <div *ngIf="!isLoading">
      <app-book-accordion 
        [books]="books"
        (loanBook)="onLoanBook($event)">
      </app-book-accordion>
    </div>
  </div>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="openCreateBookModal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
